<html>
      <head>
	  <meta charset="atf-8" />
	       <title> Clientes </title>
	  </head>
	  

<body>
   <h1> Segue abaixo a lista dos nossos clientes!! </h1>
   <p> João </p><td><img width="100px" src =" joao.jpg" </td>
   <p> Maria </p><td><img width="100px" src =" maria.jpg" </td>
   <p> Jose </p><td><img width="100px" src =" jose.jpg" </td>
 
   
   <p> Para ver a lista dos nossos produtos <a href="produtos.html" > clique aqui.</a> </p>
   
   <p> <a href="index.html"> Voltar </a> </p>
   
   <body background="Penguins.jpg">
</body>




</body>
</html>