<html>
      <head>
	  <meta charset="atf-8" />
	       <title> Produtos </title>
	  </head>
	  

<body>
   <h2> Segue abaixo a lista dos nossos produtos!! </h2>
<table>
<tr> <th> Produto </th>  <th> Preço </th> <th> Foto </th> </tr>  
   <tr> <td> TV </th>  <td> R$ 2.200,00 </td> <td><img width="100px" src =" tv.jpg" </td> </tr>
   <tr> <td> Fogão </th>  <td> R$ 800,00 </td> <td><img width="100px" src =" fogao.jpg" </td></tr>
   <tr> <td> Sofá </th>  <td> R$ 1.800,00 </td> <td><img width="100px" src =" sofa.jpg" </td></tr>
     


  
   <p> Para ver a lista dos nossos clientes <a href="clientes.html" > clique aqui.</a> </p>
   
   
   <p> <a href="index.html"> Voltar </a> </p>
   <body background="Penguins.jpg">
</body>

</html>